<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>영수증 정보가 없습니다</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #e0e0e0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding-top: 7.5%;
            padding-bottom: 7.5%;
            margin: 0;
        }

        .receipt {
            /* position:absolute;
            top:50%; */
            /* transform:translateY(-50%); */
            width: 350px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
        }

        .receipt h1 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
            color: #333;
        }

        .receipt .details {
            margin-bottom: 20px;
            color: #333;
        }

        .receipt .details div {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .receipt .items {
            border-top: 1px dashed #666;
            border-bottom: 1px dashed #666;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #333;
        }

        .receipt .items thead {
            background-color: #f0f0f0;
            color: #333;
        }

        .receipt .items th {
            padding: 8px 0;
            font-weight: bold;
            font-size: 14px;
            text-align: left;
        }

        .receipt .items tbody td {
            padding: 8px 0;
            font-size: 14px;
            text-align: left;
        }

        .receipt .total {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
            color: #000;
        }

        .receipt .footer {
            font-size: 12px;
            color: #666;
        }

        .receipt .footer div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="receipt">
        유효하지 않은 접근입니다.
    </div>

</body>

</html>
